[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pillow = "*"
transformers = "*"
numpy = "*"
wandb = "*"
pytorch-lightning = "*"
pandas = "*"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.12"
